<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rassa.rassauser">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".utils.RUserApp"

        >

        <activity
            android:theme="@style/AppTheme.NoActionBar"

            android:name=".user.register.RegisterUserActivity"></activity>
    </application>

</manifest>